<!DOCTYPE html>
    <html>
        <head>
            <title>Super Sprinter 3000</title>
        </head>
        <body>
            <h1>User Story Manager</h1>
                <form action=/story>
                    <button type="submit">Add new User Story</button>
                </form>
                <table>
                    <tr>
                        <th>ID</th>
                        <th width=100px align="left">Story Title</th>
                        <th width=300px align="left">User Story</th>
                        <th width=300px align="left">Acceptance criteria</th>
                        <th width=120px align="left">Business Value</th>
                        <th width=100px align="left">Estimation</th>
                        <th width=100px align="left">Status</th>
                    </tr>
                    {% for data in database %}
                    <tr>
                    {% for item in data %}
                    <td>{{item}}</td>
                    {% endfor %}
                        <td>
                            <a href="/story/{{ data[0] }}"><img src=/static/Edit-icon.png width="30" height="30"></a>
                            <a href="/delete/{{ data[0] }}"><img src=/static/delete-icon.png width="30" height="30"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </body>
    </html>